body {
    margin: 0;
    padding: 0;
}






/*-------------Шапка сайта-------------*/
header {
    background: url("images/image%201.png") 100% 100%;
    background-size: cover;
    display: flex;
}

.block-logo {
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
    width: 50%;
}

.block-logo img {
    background: rgba(255, 192, 0, 0.75);
    
    padding-right: calc(100% - 50% - 184px);
    padding-left: 50%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.links {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.links p {
    font-family: Gilroy-bold;
    font-size: 24px;
    line-height: 29px;
    color: #434244;
    margin-left: 10vw;
}

a { text-decoration: none }
a:visited { color: #434244 }






/*-----Название раздела с описанием------*/
.block-title {
    height: 144px;
    display: flex;
    margin-left: 15vw;
}

.block-title__shadow-text {
    align-self: flex-end;
    position: absolute;
    font-family: Gilroy-bold;
    font-size: 144px;
    margin: 0;
    color: rgba(255, 192, 0, 0.25);
}

.block-title__thinText {
    width: 480px;
    margin-left: 85px;
    align-self: flex-end;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    color: #434244;
    margin-top: 0;
    margin-bottom: 35px;
}

.block-title__boldText {
    margin-left: 85px;
    align-self: flex-end;
    position: relative;
    font-family: Gilroy-bold;
    font-size: 36px;
    color: #434244;
    margin-top: 0;
    margin-bottom: 35px;
    padding-bottom: 1vh;
}





/*----------Описание компании----------*/

.block-container {
    padding-left: 15vw;
    padding-right: 15vw;
}

#HELLOT {
    margin-top: 100px;
}

#HELLO{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-textDesc {
    padding-bottom: 20vh;
}

.block-list {}

.block-list__title {
    font-family: Gilroy-bold;
    font-size: 36px;
    line-height: 44px;
    color: #434244;
}

.block-list__text {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 21px;
    list-style: none;
    color: #434244;
    
}

.block-list__text li {
    display: flex;
    margin: 30px 0;
}

.rectangle{
    padding: 2px;
    background: #FFC000;
    z-index: -1;
    margin-right: 10px;
    
    text-align: center;
    font-family: Gilroy-bold;
    font-size: 18px;
    line-height: 22px;
    color: #434244;
}

.block-imageDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -35vh;
    margin-left: 2vw;
}

.block-imageDesc h1 {
    z-index: 1;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding: 2vh;
    margin-top: -3vh;
    margin-left: 6vw;
    text-align: center;
    background-color: #FFC000;
}

.block-imageDesc img {
    position: absolute;
    width: 95vw;
    height: auto;
}

.block-imageDesc p {
    z-index: 1;
    font-family: Gilroy;
    font-size: 24px;
    line-height: 28px;
    color: white;
    padding: 2vw;
    padding-right: 14vw;
    margin-left: -2vw;
    margin-right: -15vw;
    background-color: rgba(255, 192, 0, 0.75);;
}




/*-------------Описание БП-------------*/
.block-pannel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-pannel__tile {
    margin: 1vh 1vw;
    width: 374px; 
    height: 287px;
    align-items: flex-end;
    display: flex;
    font-family: Gilroy;
}


#emptyText{
    align-items: flex-start;
}
#emptyText p{
    border: none;
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: normal;
}
.block-pannel__tile p {
    border-left: 4px solid #FFC000;
    margin: 1vw;
    padding: 4px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#W1{ background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url(images/WHAT/image%206.png)}
#W2{ background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url(images/WHAT/image%205.png) }
#W3{ background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url(images/WHAT/image%204.png) }
#W4{ background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url(images/WHAT/image%207.png) }
#W5{ background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 40%), url(images/WHAT/image%208.png) }
/*----------------Зачем---------------*/

#WHY{
    margin-top: 15vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: url(images/image%2010.png) no-repeat;
}

#descwhy {
    margin-left: 19vw;
}

.block-accent{
    display: flex;
    margin-top: -15vh;
}

.block-accent__rectangle{
    height: 32vh;
    width: 20vw;
    background: #FFC000;
    margin:2vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 1vw
}

.block-accent__rectangle h1 {
    font-family: Gilroy;
}
.block-accent__rectangle p{
    font-family: Gilroy;
}

.block-info {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Gilroy;
    align-content: flex-start;
}

.block-info__pannel{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row-reverse;
    
    width: 31vw;
    height: 36vh;

    margin: 1vw;
    
    background: #FFFFFF;
    border: 1px solid #FFC000;
    box-sizing: border-box;
    box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.04);
}

.block-info__pannel h2{
    margin: 1vw;
    width: 28vw;
    font-size: 24px;
}

.block-info__pannel p{
    margin: 1vw;
    font-size: 18px;
}

.block-info__pannel img{
    position: absolute;
    align-self:flex-end;
}




/*-----------------КАК----------------*/

#HOW{
    background: url(images/gear-2%201.png) no-repeat;
    background-position: right;
}

.block-steps {
    display: flex;
    justify-content: center;
}

.block-steps__description {}

#HOWt {
    width: 17vw;
    margin-right: 5vw
}

.block-steps__explaning {
    margin-top: 2vh;
}

.step {
    margin-left: -1.6vw;
    margin-bottom: -2vh;
    margin-top: -2vh;
}

.block-steps__explaning p{
    font-family: Gilroy;
    font-size: 18px;
    line-height: 21px;
    padding: 1vh 1.5vw 4vh 2.5vw;
    border-left: 1px solid #FFC000;
}
.block-steps__explaning p:nth-last-of-type(1){
    border-left: none
}

footer {
    background: #434244;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 22vh;
    min-height: 75px;

    padding-left: 10vw;
    padding-right: 10vw;
    
    font-family: Gilroy-bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFC000;
}

footer a:visited{ color: #FFC000 }




/*--------------Шрифты--------------*/
@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-FREE/Gilroy-Light.otf");
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Gilroy-bold";
    src: url("fonts/Gilroy-FREE/Gilroy-ExtraBold.otf");
    font-style: bold; 
    font-weight: normal; 
}

@media only screen and (min-width: 500px) {
    
    .block-imageDesc img {
        width: auto;
        height: 90vh;
    }
    
    .block-imageDesc {
        height: 85vh;
    }
}